.App{
    /* display: flex;  */
    /* justify-content: center;  */
    /* align-items: center; */
    /* flex-direction: column; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    margin: 40px;
    padding: 20px;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: solid 2px rgb(54, 21, 173);
  }
.custom-btn {
    margin: 20px !important;
}
